<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientName" value="378ce77c-5b45-4126-9dfa-0371daa51563"/>
    <add key="ClientKey" value="anI4ICTj9bs+gNQRa3aBbbQmsYCGvNIKB1qTkWZoj/k="/>

    <add key="TargetDevice" value="94e56d06-eb96-44ba-a0ce-c8c384086c71"/>
  </appSettings>
</configuration>