<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientName" value="378ce77c-5b45-4126-9dfa-0371daa51563"/>
    <add key="ClientKey" value="anI4ICTj9bs+gNQRa3aBbbQmsYCGvNIKB1qTkWZoj/k="/>
    <add key="TargetDevice" value="50148590-1b48-4cf5-a76d-8a7f9474a3de"/>
    <add key="EnableDebug" value="True"/>
  </appSettings>
</configuration>